/* Handige instellingen */
* {
  overflow:auto;
}


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgba(231, 164, 20, 0.733);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.artikel {
  width: 200px;
  padding: 20px;
}

.artikelnaam {
  text-align: center;
}
.artikelplaatje {
  float: left;
  height: 200px;
  width: 200px;  

}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(2, 87, 2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #03fc9413;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgba(3, 248, 64, 0.801);
}




